@{
    Layout = "_Layout";
}
@model domain_entities.ToDoList

<h1>Create Blog Post</h1>

<fieldset>

    <form asp-action="create" asp-controller="todo">

        <div asp-validation-summary="All" class="input-validation-error"></div>
        <p>
            @Html.LabelFor(x => x.Name)
            @Html.EditorFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </p>
        <p>
            <button type="submit">Create post</button>
        </p>
    </form>
</fieldset>
